<div>
  <agm-map [zoom]='18' [latitude]="fixedLat" [longitude]="fixedLng">
    <agm-polygon [fillOpacity] = "0.8" [paths]="paths" >
      <agm-marker [latitude]="vestLat" [longitude]="vestLng"></agm-marker>
    </agm-polygon>
    <agm-marker [latitude]="gunLat + 0.00003"  [longitude]="gunLng + 0.00003"></agm-marker>
  </agm-map>
  <h4>Location Alerts</h4>
  <div class="alert" [hidden]="!showAlert">
    <p>The gun has left the area</p>
  </div>
  <div class="location alert" [hidden]="!showLocationUpdate">
    <p>{{message}}</p>
  </div>
</div>
